<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

      <!-- Header -->
      <div class="header mt-md-5">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Pretitle -->
              <h6 class="header-pretitle">
                Nouvelle compétence
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                Ajouter une nouvelle compétence
              </h1>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>

      <!-- Form -->
      <%= simple_form_for(@skill, url: admin_skills_path, :method => :post, html: { class: "mb-4"}) do |f| %>

        <!-- Skill name -->
        <div class="form-group">
          <!-- Input -->
          <%= f.input :title, label: "Nom de la compétence", label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
        </div>

        <!-- Skill rating -->
        <div class="form-group">
          <!-- Input -->
          <%= f.input :rating, collection: 1..3, selected: 1, label: "Niveau de la compétence", label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
        </div>

        <!-- Skill specialty -->
        <div class="form-group">
          <!-- Input -->
          <%= f.input :specialty, collection: [['Design', '0'], ['Web', '1']], prompt: 'Spécialité de la compétence', label: "Domaine de compétence", label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
        </div>

        <!-- Divider -->
        <hr class="mt-5 mb-5">

        <!-- Skill image -->
        <div class="form-group">
          <!-- Dropzone -->
          <div class="dropzone dropzone-single mb-3" data-dropzone='{"url": "https://", "maxFiles": 1, "acceptedFiles": "image/*"}'>

            <!-- Fallback -->
            <div class="fallback">
              <div class="form-group">
                <%= f.input :photo, as: :file, label: "Icon compétence", label_html: { class: "form-label" }, input_html: { multiple: true } %>
              </div>
            </div>
          </div>
        </div>

        <!-- Divider -->
        <hr class="mt-5 mb-5">

        <!-- Buttons -->

        <%= f.submit class: "btn w-100 btn-primary" %>
        <%= link_to "Annuler", admin_path, class:"btn w-100 btn-link text-muted mt-2" %>
      <% end %>

    </div>
  </div> <!-- / .row -->
</div>
