<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <h6 class="header-pretitle">
        Dashboard
      </h6>

      <h1 class="header-title">
        Tableau de bord
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-3">

      <!-- Time -->
      <div class="card border-secondary">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="text-uppercase text-secondary mb-2">
                Nombre de projets
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                <%= pluralize Project.count, "projet" %>
              </span>

            </div>
            <div class="col-auto">

              <!-- Icone -->
              <span class="h2 fe fe-file text-secondary mb-0"></span>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3">

      <!-- Hours -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Nbr total de projets finis
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                <%= pluralize @finished_projects, "projet fini" %>
              </span>

            </div>
            <div class="col-auto">

              <!-- Icone -->
              <span class="h2 fe fe-calendar text-muted mb-0"></span>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3">

      <!-- Value  -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Nombre de compétences
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                <%= Skill.count %> compétences
              </span>
            </div>
            <div class="col-auto">

              <!-- Icone -->
              <span class="h2 fe fe-map text-muted mb-0"></span>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3">

      <!-- Exit -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Nombre de compétences niveau "Expert"
              </h6>

              <!-- Heading -->
              <span class="h2 mb-0">
                <%= pluralize @expert_skills, "compétence" %>
              </span>

            </div>
            <div class="col-auto">

              <!-- Icone -->
              <span class="h2 fe fe-users text-muted mb-0"></span>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>

  </div>

  <hr class="mb-5">

  <%# Projets %>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <!-- Title -->
        <h2 class="card-header-title">
          Projets
        </h2>
      </div>
      <div class="table-responsive mb-0">
        <table class="table table-sm table-nowrap card-table table-hover">
          <thead>
            <tr>
              <th>
                <a href="#" class="text-muted list-sort" data-sort="project-project">
                  Projet
                </a>
              </th>
              <th>
                <a href="#" class="text-muted list-sort" data-sort="project-status">
                  Status
                </a>
              </th>
              <th>
                <a href="#" class="text-muted list-sort" data-sort="project-date">
                  Date de début
                </a>
              </th>
              <th>
                <a href="#" class="text-muted list-sort">
                  Compétences associées
                </a>
              </th>
              <th></th>
            </tr>
          </thead>

          <%###################
          ITERATE OVER PROJECTS
          ####################
          %>

          <% @projects.each do |project| %>

          <tbody class="list">
            <tr>
              <td class="project-project">

                <!-- Heading -->
                <h4 class="fw-normal mb-1"><%= project.title %></h4>

                <!-- Text  -->
                <small class="text-muted"><%= project.collaborator_desc %></small>

              </td>
              <td class="project-status">

                <!-- Badge -->
                <% if project.finished %>
                  <span class="badge bg-success-soft">Terminé</span>
                <% else %>
                  <span class="badge bg-danger-soft">En cours</span>
                <% end %>

              </td>
              <td class="project-date">

                <!-- Time -->
                <time><%= project.date_start.strftime("%d/%m/%Y") %></time>

              </td>
              <td class="text-end">
              <% project.skills.each do |skill| %>
                <div class="tag-skills d-flex">
                  <span>#<%= skill.title %></span>
                </div>
              <% end %>
              </td>
              <td class="text-end">

                <!-- Dropdown -->
                <div class="dropdown">
                  <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fe fe-more-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <%= link_to "Modifier", edit_admin_project_path(project), class: "dropdown-item" %>
                    <%= link_to "Supprimer", admin_project_path(project), method: :delete,  data: { confirm: "Êtes-vous sûr ? Cette action supprimera définitivement ce projet." }, class: "dropdown-item" %>
                  </div>
                </div>

              </td>
            </tr>
          </tbody>

          <% end %>
        </table>
      </div>
    </div>
  </div>

  <%# Skills %>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <!-- Title -->
        <h2 class="card-header-title">
          Compétences
        </h2>
      </div>
      <div class="table-responsive mb-0">
        <table class="table table-sm table-nowrap card-table table-hover">
          <thead>
            <tr>
              <th>
                <a href="#" class="text-muted list-sort" data-sort="project-project">
                  Compétence
                </a>
              </th>
              <th>
                <a href="#" class="text-muted list-sort" data-sort="project-status">
                  Niveau
                </a>
              </th>
              <th>
                <a href="#" class="text-muted list-sort">
                  Projets associés
                </a>
              </th>
              <th></th>
            </tr>
          </thead>

          <%###################
          ITERATE OVER SKILLS
          ####################
          %>

          <% @skills.each do |skill| %>

          <tbody class="list">
            <tr>
              <td class="project-project">
              <div class="col-auto d-flex align-items-center">

                <!-- Avatar -->
                <figure class="m-0 avatar">
                <% if skill.photo.attached? %>
                  <%= cl_image_tag skill.photo.key, class: "avatar-img rounded", alt: "icon de compétence" %>
                <% else %>
                  <%= image_tag "skill_icon.svg", class: "avatar-img rounded", alt: "icon de compétence"  %>
                <% end %>
                </figure>

                  <!-- Heading -->
                  <h4 class="fw-normal mb-0 ms-3"><%= skill.title %></h4>
              </div>
              </td>
              <td class="project-status">

                <!-- Badge -->
                <div class="col">
                  <!-- Progress -->
                  <div class="skill-levels">
                    <%= render 'admin/partials/skill_levels', skill: skill %>
                  </div>

                </div>

              </td>
              <td class="text-end">
              <% skill.projects.each do |project| %>
                <div class="tag-skills d-flex">
                  <span>#<%= project.title %></span>
                </div>
              <% end %>
              </td>
              <td class="text-end">

                <!-- Dropdown -->
                <div class="dropdown">
                  <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fe fe-more-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <%= link_to "Modifier", edit_admin_skill_path(skill), class: "dropdown-item" %>
                    <%= link_to "Supprimer", admin_skill_path(skill), method: :delete,  data: { confirm: "Êtes-vous sûr ? Cette action supprimera définitivement ce projet." }, class: "dropdown-item" %>
                  </div>
                </div>

              </td>
            </tr>
          </tbody>

          <% end %>
        </table>
      </div>
    </div>
  </div>

</div>
