<!-- Navbar -->
      <nav class="navbar navbar-expand-xl" style="border: none;">
        <div class="container">

          <!-- Brand -->
          <%# <a class="navbar-brand" href="#!">Navbar</a> %>
          <%= link_to root_path, class: "navbar-logo" do %>
            <%= image_tag "lhdesign_logo.svg" %>
          <% end %>
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent2">

            <!-- Nav -->
            <ul class="navbar-nav main-navbar me-auto">
              <li class="nav-item">
                <%= link_to "Hello!", "#projects", class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Services", "#projects", class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Projets", "#projects", class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Contact", "#projects", class: "nav-link"  %>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <%= link_to "Dashboard", admin_path, class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              <% end %>
            </ul>

          </div>

        </div>
      </nav>
