<div class="{{#is navPosition 'sidenav || combo'}}container-fluid{{/is}}{{#is navPosition 'topnav'}}container{{/is}}" data-list='{"valueNames": ["name"], "listClass": "listAlias"}'>
  <h1><%= @projects.size %> projets</h1>
  <!-- Tab content -->
  <div class="tab-content">
    <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
      <div class="row listAlias">
      <% @projects.each do |project| %>

        <div class="col-12 col-md-6 col-xl-4">

          <!-- Card -->
          <div class="card">

            <!-- Image -->
            <%= link_to project_path(project) do %>
            <figure>
              <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="card-img-top">
              <%= cl_image_tag project.photos[0].key, class: "card-img-top"  %>
            </figure>
            <% end %>

            <!-- Body -->
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">

                  <!-- Title -->
                  <h4 class="mb-2 name">
                    <%= link_to project_path(project) do %>
                      <%= project.title %>
                    <% end %>
                  </h4>

                  <!-- Subtitle -->
                  <p class="card-text small text-muted">
                    Modifié il y a <%= time_ago(project.updated_at) %>
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <%= link_to "Modifier", edit_admin_project_path(project), class: "dropdown-item" %>
                      <%= link_to "Supprimer", admin_project_path(project), method: :delete,  data: { confirm: "Êtes vous sûrs ? Cette action supprimera définitivement ce projet." }, class: "dropdown-item" %>
                    </div>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

            <!-- Footer -->
            <div class="card-footer card-footer-boxed">
              <div class="row align-items-center">
                <div class="col">
                  <div class="row align-items-center g-0">
                    <div class="col-auto">

                      <!-- Value -->
                      <% if project.finished %>
                      <div class="small me-2">100%</div>
                      <% else %>
                      <div class="small me-2">0%</div>
                      <% end %>

                    </div>
                    <div class="col">

                      <!-- Progress -->
                      <div class="progress progress-sm">
                      <% if project.finished %>
                         <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      <% else %>
                         <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      <% end %>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div> <!-- / .row -->
            </div>
          </div>

        </div>
      <% end %>
      </div> <!-- / .row -->
    </div>
  </div> <!-- / .tab-content -->
</div>
