<%= render 'shared/home_navbar' %>
<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <h1>
          <span>LHDesign</span>
          <span>Print</span><span>&</span>
          <span>Digital</span>
        </h1>
      </div>
      <div class="col-12 col-lg-3">
        <div class="hello">
          <p>Hello <span id="hello-wave">👋🏾</span></p>
          <h2> Bienvenue sur LHDesign ! Je m'appelle Laura Hardy-Dessources et je suis <strong>infographiste</strong>, <strong>développeuse web</strong> et <strong>web designer</strong>.</h2>
        </div>
      </div>
      <div class="separator"></div>
      <div class="illu"></div>
      <div class="small-illu"></div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <article>
          <h2>Création Graphique</h2>
          <p>Passionée par le graphisme et le design depuis toute petite, j'ai commencé à travailler en tant qu'infographiste puis je me suis tourné vers le webdesign après une formation de Chef de projet multimédia.</p>
          <p>Le petit <span class="fe fe-plus-circle"></span> : la veille pour toujours être au courant des dernières tendances, le travail avec les typographies et les illustrations, la construction des maquettes et prototypes.</p>
        </article>

        <div>
          <div class="card">
          <div class="card-body">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <figure class="skill-icons">
                <% if @skill_adobe_xd.photo.attached? %>
                  <%= cl_image_tag @skill_adobe_xd.photo.key, class: "avatar-img rounded", alt: "icon de compétence" %>
                <% else %>
                  <%= image_tag "skill_icon.svg", class: "avatar-img rounded", alt: "icon de compétence"  %>
                <% end %>
              </figure>
            </div>
            <div class="col ms-n2">
              <!-- Title -->
              <h4 class="mb-1">
                <%= @skill_adobe_xd.title %>
              </h4>

              <!-- Progress -->
              <div class="row align-items-center g-0">
                <div class="col">

                  <!-- Progress -->
                  <div class="skill-levels">
                    <%= render 'admin/partials/skill_levels', skill: @skill_adobe_xd %>
                  </div>

                </div>
            </div> <!-- / .row -->
          </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .card-body -->


<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
      <!-- Avatar -->
        <figure class="skill-icons">
          <% if @skill_figma.photo.attached? %>
            <%= cl_image_tag @skill_figma.photo.key, class: "avatar-img rounded", alt: "icon de compétence" %>
          <% else %>
            <%= image_tag "skill_icon.svg", class: "avatar-img rounded", alt: "icon de compétence"  %>
          <% end %>
        </figure>
      </div>
      <div class="col ms-n2">
        <!-- Title -->
        <h4 class="mb-1">
          <%= @skill_figma.title %>
        </h4>

        <!-- Progress -->
        <div class="row align-items-center g-0">
          <div class="col">

            <!-- Progress -->
            <div class="skill-levels">
              <%= render 'admin/partials/skill_levels', skill: @skill_figma %>
            </div>

          </div>
        </div> <!-- / .row -->
      </div>
    </div>
  </div> <!-- / .row -->
</div> <!-- / .card-body -->

  </div>
</div>
<div class="col-12 col-lg-6">
  <div>
  <div class="card">
   <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
      <!-- Avatar -->
        <figure class="skill-icons">
          <% if @skills_rails.photo.attached? %>
            <%= cl_image_tag @skills_rails.photo.key, class: "avatar-img rounded", alt: "icon de compétence" %>
          <% else %>
            <%= image_tag "skill_icon.svg", class: "avatar-img rounded", alt: "icon de compétence"  %>
          <% end %>
        </figure>
      </div>
      <div class="col ms-n2">
        <!-- Title -->
        <h4 class="mb-1">
          <%= @skills_rails.title %>
        </h4>

        <!-- Progress -->
        <div class="row align-items-center g-0">
          <div class="col">

            <!-- Progress -->
            <div class="skill-levels">
              <%= render 'admin/partials/skill_levels', skill: @skills_rails %>
            </div>

          </div>
        </div> <!-- / .row -->
      </div>
    </div>
  </div> <!-- / .row -->
</div> <!-- / .card-body -->


          <%= render 'shared/skills_list', skill: @skills_web_standard =%>


        </div>
        <article>
          <h2>Développement web</h2>
          <p>J'ai découvert d'abord le métier d'intégrateur web, qui m'a tout de suite plu. Mais j'ai surtout eu l'opportunité de me former à Ruby on rails et à Javascript en intégrant le batch de Conceptrice - Développeuseuse d’Applications Web, de l'école <em>Le Wagon</em>.</p>
          <p>Le petit <span class="fe fe-plus-circle"></span> : on peut se former facilement à de nouvelles technologies, les languages de programmation sont universels, lorsqu'on code on a tout de suite une vue du résultat final contrairement à d'autres corps de métiers.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<%# Bandeau téléchargement de CV %>
<%# <%= render "layouts/partials/dl-cv" %>
<%# Bandeau téléchargement de CV %>

<section id="projects">
  <div class="container">
    <h2>Mes derniers projets WEB</h2>
    <div class="cards">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "link-project" do %>
        <div class="card-project">
          <% if project.photos.attached? %>
            <!-- Image -->
              <figure>
                <%= cl_image_tag project.photos[1].key  %>
              </figure>
            <h3>
              <%= project.title %>
            </h3>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
<section id="behance">
  <div class="container">
    <h2>Mes projets en tant qu'infographiste</h2>
    <p>J'ai aussi une expérience de plus de 2 ans en tant qu'infographiste. Période pendant laquelle j'ai pu réaliser des <strong>flyers</strong>, <strong>affiches</strong>, <strong>brochures</strong>, <strong>visuels pour les réseaux sociaux</strong>...</p>
    <p>Vous pouvez découvrir ces projets sur mon portfolio Behance.</p>
    <div class="row justify-content-center text-center">
      <% @behance.each do |be| %>
        <div class="col-12 col-lg-4">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)),  url('<%= image_path be[:url] %>');">
            <h3><%= be[:title] %></h3>
          </div>
        </div>
      <% end %>
      <figcaption><em>Infographie: quelques réalisations.</em></figcaption>
      <%= link_to "https://www.behance.net/laurahardy2e2d", target: "_blank", class: "btn btn-b" do %><i class="fab fa-behance"></i></i>Voir le portfolio Behance<% end %>
    </div>
  </div>
</section>
<section id='demo-day'>
  <div class="container">
    <h2>DémoDay, mon stage chez Tourcrib</h2>
      <p>Pour conclure notre formation de Concepteur-Développeur d'applications web dispensée par le Wagon, un Démo day a été organisé pour présenter les projets réalisés lors d'un stage en entreprise.</p>

      <div class="row justify-content-center pb-4">
        <div class="col-12 col-lg-8">
          <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/k6CEgIOzVwBQgWyenn8" width="100%" height="100%" allowfullscreen > </iframe> </div>
        </div>
      </div>

      <p>Notre groupe, composé de  <%= link_to 'https://github.com/Mimyds', target: '_blank' do %>Mylène Desroses<% end %>, <%= link_to 'https://github.com/katia972', target: '_blank' do %>Katia Drutinus<% end %>, <%= link_to 'https://github.com/Ludo97212', target: '_blank' do %>Ludovic Nourel<% end %> et moi même avons collaboré avec <strong><%= link_to 'https://github.com/r-obeen', target:'_blank' do %>Robeen Simeon<% end %></strong>, fondateur de Tourcrib, plateforme d'activités touristiques en Martinique.</p>
      <p>Mylène et moi, nous avons présenté, les <strong>4 projets</strong> suivants:</p>
      <ul>
        <li>une carte Google Map montrant les activités et les sites touristiques présents sur la plateforme au moyen de marqueurs, <%= link_to "Voir le projet", project_path(@map), target: "_blank", class:"btn-normal small-btn" %></li>
        <li>un formulaire de recommendations d'activités touristiques,</li>
        <li>ajout de statistiques marketing dans le back-office de la plateforne,</li>
        <li>un projet <strong>bonus</strong>: la 1ère version de ce portfolio 😋.</li>
      </ul>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">
        <h2>Me contacter</h2>
        <%# <p>Actuellement, je recherche une entreprise pour laquelle je proposerai mes services en tant que salariée.</p> %>
        <p>N'hésitez pas à me contacter pour avoir plus d'informations sur mon travail, mon parcours, ce que vous voulez... 😁</p>
      </div>
      <div class="col-12 col-lg-5">
        <h3><span>Par formulaire de contact</span></h3>
        <iframe
          src="https://tally.so/embed/3ja09Y?alignLeft=1&hideTitle=1&transparentBackground=1"
          width="100%"
          height="564"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Contact form">
        </iframe>
      </div>
      <div class="col-12 col-lg-5">
        <h3><span>Ou par mail</span></h3>
          <%= mail_to "hello@lhdesign.me", "hello@lhdesign.me", class: 'big-mail' %>
      </div>
    </div>
  </div>
</section>
<%= render "shared/footer" %>
