<%= render 'shared/home_navbar' %>
<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <h1>
          <span>Web</span>
          <span>design</span><span>&</span>
          <span>web apps</span>
        </h1>
      </div>
      <div class="col-12 col-lg-3">
        <div class="hello">
          <p>Hello <span id="hello-wave">👋🏾</span></p>
          <h2>Je m'appelle <strong>Laura Hardy-Dessources</strong> et je suis Front-End développeuse Junior et webdesigner.</h2>
        </div>
      </div>
      <div class="separator"></div>
      <div class="illu"></div>
      <div class="small-illu"></div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <article>
          <h2>Ui Design</h2>
          <p>Passionée par le graphisme et le design depuis toute petite, j'ai commencé à travailler en tant qu'infographiste puis je me suis tourné vers le webdesign après une formation de Chef de projet multimédia.</p>
          <p>Le petit <span class="fe fe-plus-circle"></span> : la veille pour toujours être au courant des dernières tendances, le travail avec les typographies et les illustrations, la construction des maquettes et prototypes.</p>
        </article>

        <div>
          <%= render 'shared/skills_list', skill: @skill_adobe_xd %>

          <%= render 'shared/skills_list', skill: @skill_figma %>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <%= render 'shared/skills_list', skill: @skills_web %>

          <%= render 'shared/skills_list', skill: @skills_web_standard %>

        </div>
        <article>
          <h2>Développement web</h2>
          <p>J'ai découvert d'abord le métier d'intégrateur web, qui m'a tout de suite plu. Mais j'ai surtout eu l'opportunité de me former à Ruby on rails et à Javascript en intégrant le batch de Conceptrice - Développeuseuse d’Applications Web, de l'école <em>Le Wagon</em>.</p>
          <p>Le petit <span class="fe fe-plus-circle"></span> : on peut se former facilement à de nouvelles technologies, les languages de programmation sont universels, lorsqu'on code on a tout de suite une vue du résultat final contrairement à d'autres corps de métiers.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<%# Bandeau téléchargement de CV %>
<%= render "layouts/partials/dl-cv" %>
<%# Bandeau téléchargement de CV %>

<section id="projects">
  <div class="container">
    <h2>Mes derniers projets</h2>
    <div class="cards">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "link-project" do %>
        <div class="card-project">
          <% if project.photos.attached? %>
            <!-- Image -->
              <figure>
                <%= cl_image_tag project.photos[1].key  %>
              </figure>
            <h3>
              <%= project.title %>
            </h3>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">
        <h2>Me contacter</h2>
        <p>Actuellement, je recherche une entreprise pour laquelle je proposerai mes services en tant que salariée.</p>
        <p>N'hésitez pas à me contacter pour avoir plus d'informations sur mon travail, mon parcours, ce que vous voulez... 😁</p>
      </div>
      <div class="col-12 col-lg-6">
        <h3><span>Par formulaire de contact</span></h3>
        <iframe
          src="https://tally.so/embed/3ja09Y?alignLeft=1&hideTitle=1&transparentBackground=1"
          width="100%"
          height="564"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Contact form">
        </iframe>
      </div>
      <div class="col-12 col-lg-5">
        <h3><span>Ou par mail</span></h3>
          <%= mail_to "hello@lhdesign.me", "hello@lhdesign.me", class: 'big-mail' %>
      </div>
    </div>
  </div>
</section>
<%= render "shared/footer" %>
